<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bombas de Gasolina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Início</a>
        <a href="{{ url_for('acesso') }}">Acesso privado</a>
        
        <a href="{{ url_for('logout') }}">Sair</a>
    </nav>

    <main>
        {% block conteudo %}{% endblock %}
    </main>
</body>
</html>
